body {
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 100%;
    height: calc(100% - 75px);
    display: flex;
    flex-wrap: wrap;
}

.container>dialog{
    display: none;
}

.navbar {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.navbar>h1 {
    font-family: monospace;
}

.add {
    background: #c9c8bd;
    border-radius: 100%;
    border: none;
    color: whitesmoke;
    font-size: larger;
    width: 50px;
    height: 50px;
}

.add:hover {
    background: rgba(181, 219, 219, 0.199);
    color: white;
}

.complete {
    height: 50px;
}

.done {
    border: none;
    background-color: rgb(139, 233, 85);
    color: white;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    left: 125px;
}

.done:hover {
    background-color: lightgreen;
}

.todo {
    background: #fff175;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    position: relative;
    max-width: calc(100% - 60px);
}

.header {
    height: 50px;
    justify-content: center;
    align-items: center;
}


.header>h4 {
    text-align: center;
    font-family: monospace;
}

.thingToDo {
    height: 165px;
    align-items: center;
}

.thingToDo>p {
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 20px;
}


.todo::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    border-radius: inherit;
    background: repeating-linear-gradient(45deg,
            rgb(212, 196, 129),
            rgb(212, 196, 129) 2px,
            transparent 2px,
            transparent 6px);
    transition: all 0.3s ease;
}

.todo:hover::before {
    top: 40px;
    left: 40px;
}

dialog{
    width: 300px;
    height: 300px;
    z-index: 1;
    background: #f5f5f5;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    align-items: center;
}

dialog>h2{
    align-items: center;
}

dialog>input {
    height: 125px;
    width: 200px;
}

dialog>button {
    border: none;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background: #c9c8bd;
    font-family: 'Segoe UI';
}